@model eCommerce.Web.Areas.Api.Models.General.IntroduceResponse
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
    Dictionary<string, string>[] Menus = (Dictionary<string, string>[])Context.Items["Menus"];
}
@section Styles{
    <style>
        #div-footer > div > p {
            line-height: 24px;
        }

        .line-height-24 {
            line-height: 24px;
        }

        .top-menu.position-fixed {
            top: 0;
            width: 100%
        }

        .height-24-px {
            max-height: 24px;
        }

        @@media only screen and (max-width: 480px) {
            .text-item {
                text-align: left !important;
            }
        }

        .owl-carousel:hover .owl-controls {
            display: none !important;
        }
    </style>
}
@section meta {
    <meta property="og:url" content="https://dienmaycongthanh.vn/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Trang chủ - Điện máy Công Thành | Chuyên kinh doanh các mặt hàng Điện tử, Điện lạnh, Điện gia dụng" />
    <meta property="og:description" content="https://dienmaycongthanh.vn/" />
    <meta property="og:image" content="/images/logo.png" />
}
<!-- Banner slide -->

<div id="banner-slide" class="owl-carousel owl-carousel-featured" style="display:block;">
    @foreach (var item in Model.BannerImages)
    {
        <div class="item">
            <img src="@item.FilePath" />
            <div class="sub-carousel"></div>
            <div class="carousel-caption text-left d-none p-0 d-md-block">
                <h1 class="text-white">Điện Máy Công Thành<br>Thiết bị điện máy đỉnh cao</h1>
                <p class="sub-title text-white">Chất lượng ổn định,<br />nâng tầm dịch vụ</p>
            </div>
        </div>
    }

</div>


<!--Nav-->
<div class="top-menu">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <a class="navbar-brand" href="/"><img id="img-logo" src="~/images/logo.png" /></a>
            <button id="menu-content" class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse bg-white" id="menucontent">
                <ul class="navbar-nav ml-auto">
                    @foreach (var item in Menus)
                    {
                        if (item["Name"].ToString() == "Báo giá")
                        {
                            <li class="nav-item font-weight-bold">
                                <a class="nav-link" target="_blank" href="@item["Key"]">@item["Name"]</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item font-weight-bold">
                                <a class="nav-link" href="@item["Key"]">@item["Name"]</a>
                            </li>
                        }

                    }
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- Intro -->
<div class="site-content position-relative" id="section1">
    <!-- Blockquote -->
    <div class="container">
        <div class="wpb_wrapper">
            <div class="blockquote">
                <div class="container">
                    <p class="quote text-item text-black">@Html.Raw(Model.Introduction)</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Category -->
    <div class="container-fluid products p-0 mt-4">
        <!-- Tầm nhìn sứ mệnh -->
        <div id="section2" class="container container-mini">
            <div class="row">
                <div class="col-12">
                    <div class="about__content" id="tam-nhin">
                        <div class="main-title">
                            <div class="block">
                                <span class="text">Tầm nhìn và sứ mệnh</span>
                                <span class="line line-100"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class=" w-100 text-center mb-2 text-hightline"><span class="text-uppercase">Tầm nhìn chiến lược</span></div><br />
                        <p class="text-center text-uppercase text-info"> <strong>Trở thành một thương hiệu điện máy được nhiều người biết đến trong lĩnh vực phát triển ngành kinh doanh mặt hàng điện tử - điện máy. Thấu hiểu và chiếm lĩnh sự tin tưởng của khách hàng</strong></p>
                        <div class="col-md-5">
                            <h2 class="font-weight-bold text-center text-hightline w-100">Năm 2022</h2>
                            <p> Trở thành thương hiệu điện tử uy tín mang đến cho khách hàng những sản phẩm/dịch vụ điện máy tốt nhất, những<strong class="text-info"> sản phẩm vượt bậc trên thị trường trong khu vực Đông Nam Bộ </strong></p>
                        </div>

                        <div class="col-md-2">
                            <i class="mdi mdi-chevron-triple-right text-info d-md-block d-sm-none d-lg-block d-xl-block d-none" style="font-size: 90px;"></i>
                        </div>
                        <div class="col-md-5">
                            <h2 class="font-weight-bold text-center text-hightline w-100">Năm 2024</h2>
                            <p>Phát triển thêm <strong class="text-info">2 chuỗi </strong> hệ thống tại khu vực Đông Nam Bộ</p>
                        </div>
                    </div>
                </div>
                <div class="w-100 mt-3 text-center mb-2 text-hightline"><span class="text-uppercase">Sứ mệnh công ty</span></div>
                <p class="text-center text-uppercase text-info"><strong>ĐEM ĐẾN DỊCH VỤ HẬU MÃI TỐT NHẤT CHO NHIỀU TẦNG LỚP KHÁCH HÀNG KHÁC NHAU. MANG ĐẾN SỰ HÀI LÒNG CHO KHÁCH HÀNG DỰA TRÊN TRIẾT LÝ "TẬN TÂM PHỤC VỤ"</strong></p>
                <div class="m-auto">
                    <img src="~/Upload/Posts/Capture.PNG" />
                </div>
            </div>

        </div>
        <!-- Giá trị cốt lõi-->

        <div id="section3" class="container container-mini">
            <div class="row">
                <div class="col-md-12">
                    <div class="about__content">
                        <div class="main-title">
                            <h2 style="color:inherit!important">Giá trị cốt lõi</h2>
                            <div class="block">
                                <span id="cot-loi" class="text">Tận tâm - chuyên nghiệp - hiệu quả</span>
                                <span class="line line-100 d-none d-md-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 m-auto">
                    <div class="about__img">
                        <img class=" ls-is-cached lazyloaded" src="/Upload/Posts/GiaTriCotLoi01.PNG">
                    </div>
                </div>
                <div class="col-sm-6  col-md-6 aos-init">
                    <div class="description aos-init">
                        <p class="text-uppercase h4 font-weight-bold">01. tận tâm</p>
                        <p class="description">Điện máy công thành luôn duy trì đạo đức nghề nghiệp và đặt sự hài lòng của khách hàng làm thước đo cho sự trưởng thành và phát triển</p>
                        <p class="description">Theo đó, chúng tôi luôn cố gắng hiểu rõ tâm lý khách hàng, đáp ứng nhu cầu khách hàng, không ngừng cải thiện và nâng cao dịch vụ chăm sóc khách hàng nhằm mang đến cho khách hàng sự hài lòng và thoải mái nhất.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 m-auto d-none d-md-none d-sm-block d-lg-none d-xl-none d-block">
                    <div class="about__img">
                        <img class=" ls-is-cached lazyloaded" src="/Upload/Posts/GiaTriCotLoi02.PNG">
                    </div>
                </div>
                <div class="col-sm-6  col-md-6 aos-init">
                    <div class="description aos-init">
                        <p class="text-uppercase h4 font-weight-bold">02. Chuyên nghiệp</p>
                        <p class="description text-info font-weight-bold">Các CBNV tại Điện Máy Công Thành luôn không ngừng học tập, trao đổi chuyên môn, lĩnh hội kinh nghiệm được truyền thụ, luôn nỗ lực vượt qua các khó khăn, thử thách, tuân thủ nội quy và văn hoá của công ty</p>
                        <p class="description">Nhân viên luôn duy trì sự ổn định trong công việc kể cả trong môi trường nhiều áp lực.</p>
                        <p class="description">Đặc biệt, Điện Máy Công Thành đặt sự tín nhiệm của khách hàng lên vị trí hàng đầu, xem chữ Tín là yếu tố quyết định sự thành công và tính chuyên nghiệp của hoạt động kinh doanh</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 m-auto d-md-block d-sm-none d-lg-block d-xl-block d-none">
                    <div class="about__img">
                        <img class=" ls-is-cached lazyloaded" src="/Upload/Posts/GiaTriCotLoi02.PNG">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 m-auto">
                    <div class="about__img">
                        <img class=" ls-is-cached lazyloaded" src="/Upload/Posts/GiaTriCotLoi03.PNG">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 m-auto aos-init">
                    <div class="description aos-init">
                        <p class="text-uppercase h4 font-weight-bold">03. Hiệu quả</p>
                        <p class="description text-info font-weight-bold">Điện Máy Công Thành xem hiệu quả công việc là thành tố quan trọng và quyết định khi thực hiện các hoạt động kinh doanh, đầu tư và phát triển mở rộng.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Sơ đồ tổ chức-->
<div id="section4" class="vc_row wpb_row vc_row-fluid section products animation hide_in_mobile mt-4">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="animation about  aos-init" data-aos="fade-right" data-aos-duration="1000">
                    <div class="container container-mini">
                        <div class="row">
                            <div class="main-title col-lg-12">
                                <h2 style="color:inherit!important">Sơ đồ tổ chức</h2>
                                <div class="block">
                                    <span class="text">Nhân lực</span>
                                    <span class="line line-100"></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="about__img">
                                    <img class=" ls-is-cached lazyloaded" src="/Upload/Posts/SoDoToChucNhanLuc.PNG">
                                </div>
                            </div>

                            <div class="description aos-init">
                                <p class="description font-weight-bold text-info">Điện máy công thành luôn xem nguồn lực con người là yếu tố quyết định tới sự hài lòng về dịch vụ và sản phẩm của doanh nghiệp. Vì chúng tôi hiểu: "Tài sản quý nhất của các doanh nghiệp chính là con người phù hợp" <br /><p class="text-muted text-center h6">(Matsushita Konosuke - Ông tổ của phương thức kinh doanh kiểu nhật)</p></p>
                            </div>
                            <a href="@Model.Post.FriendlyUrl" class="btn-b aos-init m-auto">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hình thành và phát triển -->
<div id="section5" class="container container-mini">
    <div class="about__content">
        <div class="main-title">
            <h2 style="color:inherit!important">Quá trình hình thành và phát triển</h2>
            <div class="block">
                <span class="text">Tổng quan</span>
                <span class="line line-100"></span>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="container-timeline left-timeline">
            <div class="content">
                <h2>1990 - 1994</h2>
                <p>Thành lập cơ sở sửa chữa và lắp ráp đồ điện tử, nhận sửa tivi và đồ gia dụng tại nhà hoặc cửa hàng </p>
                <p><strong class="text-info">Năm 1994: Lấy tên của hàng là CÔNG THÀNH, dời về số 12, Cách mạng tháng 8, P.Thanh Bình, TP.Biên Hoà</strong></p>
                <p>Mở rộng kinh doanh, đào tạo học viên. Nhận sửa chữa,...</p>
                <p>Số lượng nhân sự lúc đầu chỉ 6 người và một số học viên</p>
            </div>
        </div>
        <div class="container-timeline right-timeline">
            <div class="content">
                <h2>1994 - 1998</h2>
                <p>Tiếp tục mở rộng kinh doanh tivi, đầu máy, dàn karaoke và đào tạo học viên</p>
                <p><strong class="text-info">Năm 1998: Doanh nghiệp tư nhân CÔNG THÀNH được thành lập, chuyển sang mua bán tivi nghĩa địa, băng video, dàn karaoke,...</strong></p>
                <p>Ký hợp đồng làm đại lý chích thức: Sony, Panasonic, Hitachi,...</p>
                <p>Nhân sự hoạt động trong thời gian này gồm 8 người</p>
            </div>
        </div>
        <div class="container-timeline left-timeline">
            <div class="content">
                <h2>2004 - 2010</h2>
                <p><strong class="text-info">Năm 2004: Xây lại cửa hàng mới, có không gian và diện tích rộng hơn. Mở rộng khu vực trưng bày sản phẩm</strong></p>
                <p>Chuyển đổi hướng kinh doanh mua bán các mặt hàng điện tử mới nguyên thùng: tivi, đầu máy,dàn karaoke,...</p>
                <p>Tiếp tục làm đại lý chính thức hãng cũ: Sony, LG, Toshiba,...</p>
                <p>Số lượng nhân sự: 12 người. Chưa xây dựng cơ cấu phòng ban</p>
            </div>
        </div>
        <div class="container-timeline right-timeline">
            <div class="content">
                <h2>2010 - nay</h2>
                <p>Tiếp tục phát triển mở rộng kinh doanh các mặt hàng: Điện Máy – Điện Lạnh – Điện Gia Dụng.</p>
                <p>Trở thành đại lý chính thức uy tín cho các công ty: Aqua, Panasonic, Sony, Samsung, LG, Hitachi,Toshiba,...</p>
                <p><strong class="text-info">Năm 2015: Thành lập Công ty TNHH MTV TM-DV Điện Máy Công Thành vốn điều lệ 3 tỷ đồng.</strong></p>
                <p>Cơ cấu nhân sự trong công ty phát triển lên hơn 30 người, hình thành các bộ phận với trách nhiệm và quyền hạn rõ ràng</p>
            </div>
        </div>
    </div>
</div>
<!-- Sản phẩm-->

<div id="section6" class="container">
    <div class="about__content">
        <div class="main-title">
            <div class="block">
                <span class="text">Sản phẩm & Dịch vụ</span>
                <span class="line line-100"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center px-h-85" style="background-color: white;color: #2b3d69;">
                    <p class="text-hightline-dv text-uppercase text-center">Sản phẩm điện máy</p>
                </div>
                <div class="card-body px-h-220">
                    <p class="card-text">Điện máy công thành chuyên cung cấp các sản phẩm điện máy uy tiến đên từ các thương hiệu</p>
                    <p class="card-text">Tivi: Sony, Samsung, Toshiba, Akino, Sharp, LG, Asazo,...</p>
                    <p class="card-text">Với các chương trình bảo hành, khuyến mãi chính hãng, tương đương với các siêu thị điện máy khác.</p>
                </div>
            </div>
        </div>
        <div class="mt-3 mt-sm-0 col-md-6">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center px-h-85" style="background-color: white;color: #2b3d69;">
                    <p class="text-hightline-dv text-uppercase text-center">Sản phẩm điện lạnh</p>
                </div>
                <div class="card-body px-h-220">
                    <p class="card-text">Máy lạnh: Aqua, LG, Daikin, Panasonic, Toshiba, Beko,...</p>
                    <p class="card-text">Tủ lạnh: Aqua, Hitachi, Panasonic, Toshiba, Beko, Sharp, LG,...</p>
                    <p class="card-text">Máy giặt: Aqua, Panasonic, Toshiba, Beko, Electrolux, Sharp,...</p>
                    <p class="card-text">Máy sấy: Aqua, Sharp, Electrolux, Beko, LG,...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center px-h-85" style="background-color: white;color: #2b3d69;">
                    <p class="text-hightline-dv text-uppercase text-center">Sản phẩm điện gia dụng</p>
                </div>
                <div class="card-body px-h-220">
                    <p class="card-text">Nồi cơm điện: Sharp, Toshiba, Hitachi, Cuckoo, Hitachi, Elmich,...</p>
                    <p class="card-text">Bếp ga: Sevilla, Torino, Rinnai, Namilux, Bluestar, Candy,...</p>
                    <p class="card-text">Bếp điện từ: Sevilla, Paloma, Bluestone, Electrolux, Torino,...</p>
                    <p class="card-text">Máy sinh tố: Panasonic, Philips, Elmich, Toshiba,...</p>
                </div>
            </div>
        </div>
        <div class="mt-3 mt-sm-0 col-md-6">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center px-h-85" style="background-color: white;color: #2b3d69;">
                    <p class="text-hightline-dv text-uppercase text-center">Sản phẩm âm thanh và dịch vụ trọn gói về âm thanh karaoke chuyên nghiệp</p>
                </div>
                <div class="card-body px-h-220">
                    <p class="card-text">Đầu đĩa: Ariang, Samsung, Sony, LG, Hitachi, Elmich,...</p>
                    <p class="card-text">Loa di động: Nanomax, Boboss, Bosa, Boss, Hoslton,...</p>
                    <p class="card-text">Amply:  Nanomax, Boss, Bosny, Hoslton, Janguar,...</p>
                    <p class="card-text">Nâng tiếng:  DBX, Nanomax, Bosa, Dalton, Boss,...</p>
                    <p class="card-text">Sân khấu: Đèn Follow Led, Panama, Hazada, Everest,...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center px-h-85" style="background-color: white;color: #2b3d69;">
                    <p class="text-hightline-dv text-uppercase text-center">Dịch vụ sửa chữa, bảo trì thiết bị, lắp đặt thi công công trình bơm gas, vệ sinh điện lạnh</p>
                </div>
                <div class="card-body px-h-220">
                    <p class="card-text">Điện Máy Công Thành là trung tâm bảo hành và sửa chữa thiết bị hàng đầu tại Đồng Nai với hơn 20 năm kinh nghiệm.</p>
                    <p class="card-text">Là đại lý uỷ quyền đầu tiên của hãng: Sunhouse, Elmich tại khu vực.</p>
                    <p class="card-text">Quy trình chặt chẽ chuyên nghiệp. Phát triển nhân lực thực hiện nhiều công trình lớn, đáp ứng nhu cầu người tiêu dùng.</p>
                </div>
            </div>
        </div>
        <div class="mt-3 mt-sm-0 col-md-6">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center px-h-85" style="background-color: white;color: #2b3d69;">
                    <p class="text-hightline-dv text-uppercase text-center">Dịch vụ thu hộ và hỗ trợ trả góp</p>
                </div>
                <div class="card-body px-h-220">
                    <p class="card-text">Với hệ thống Payoo có thể giải quyết nhanh chóng và an toàn mọi nỗi lo âu với các hoá đơn: tiền điện, tiền nước, tài chính,...</p>
                    <p class="card-text">Hỗ trợ thanh toán bằng nhiều hình thức khác nhau</p>
                    <p class="card-text">Hỗ trợ trả góp: Ưu đãi hấp dẫn và xét duyệt hồ sơ nhanh chóng với nhiều ngân hàng liên kết: HDSaigon, HomeCredit, ACS, ...</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container products" id="section7">
    <div class="row mt-5 mb-5">
        <div class="col-md-8">
            <div id="section7" class="mt-5 mb-5">
                <iframe style="width:100%" id="iframe" src="https://www.youtube.com/embed/15IDjmocpAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
        <div class="col-md-4 mt-5 mb-5 overflow-auto">
            <div class="d-block d-md-none" style="overflow:auto">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdienmaycongthanh.vn&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1487959068036889" width="340" height="130" style="border:none;overflow:hidden;display:block;margin:auto" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>

            <div class="d-none d-md-block">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdienmaycongthanh.vn&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=1487959068036889" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>

        </div>
    </div>

    <div id="section-thanhtuu" class="col-md-12 p-0 " >
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="intro_home_product_categories ">
                    <div class="container">
                        <div class="products__top">
                            <div class="main-title">
                                <h2 style="color:inherit!important">Thành tựu <i class="mdi-check-xbold mdi" style="color: #55b3d9;" /></h2>
                                <div class="block">
                                </div>
                            </div>
                        </div>
                        <div class="block-slide-wrapper">
                            <div class="row">
                                @{

                                    List<string> thanhtuus = new List<string>(){

                                        "Đại lý đạt chuẩn kỹ thuật của Panasonic về lắp đặt máy điều hòa không khí 2014(7 năm bảo hành máy nén",
                                        "Đại lý đạt chuẩn lắp đặt sản phẩm điều hòa không khí Aqua 2017",
                                        "Đại lý ưu tú 2016(công ty cổ phần đầu tư SK vinh danh)",
                                        "Đại lý KAKKO - E xuất sắc 2017 - Panasonic",
                                        "Đại lý bán hàng tiêu biểu 2018: SAMSUNG, VINA, ELECTRONICS",
                                        "Đại lý Daikin năm 2019",
                                        "Đại lý ủy quyền chính thức cung cấp thương hiệu Dandy – Sevilla chính hãng tại Đồng Nai",
                                        "Đại lý chính thức thương hiệu Sony 2006",
                                        "Top 50 đối tác chiến lược 2019 thương hiệu Aqua",
                                        "Đại lý phát triển 20 năm “vững bước tương lai” Panasonic 1994 – 2014",
                                        "Hội nghị khách hàng 2018: Cùng nhau kiến tạo cuộc sống",
                                        "Hội nghị khách hàng Sony 2019",
                                        "Đại lý đạt chuẩn lắp đặt điều thương hiệu LG 2019 - đến nay",
                                        "Đại lý xuất sắc sản phẩm máy lạnh Daikin 2019 – đến nay",
                                        "Đại lý xuất sắc sản phẩm máy lạnh Midea 2019 – đến nay"

                                         };
                                    int i = 0;
                                }
                                <div id="intro-thanhtuu" class="d-none">
                                    @foreach (var item in thanhtuus)
                                    {

                                        string color = i % 2 == 0 ? "" : "#55b3d9";
                                        <p>
                                            @if (i % 2 == 0)
                                            {
                                                <i class="mdi-check-xbold mdi" style="color: #55b3d9;" />
                                            }
                                            else
                                            {
                                                <i class="mdi mdi-check-xbold "></i>
                                            }
                                            @{ i += 1;}
                                            @item
                                        </p>
                                    }
                                </div>
                                <img src="/Upload/Posts/thanh_tuu.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section8" class="col-md-12 p-0">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="intro_home_product_categories ">
                    <div class="container">
                        <div class="products__top">
                            <div class="main-title">
                                <h2 style="color:inherit!important">Danh mục</h2>
                                <div class="block">
                                    <span class="text">sản phẩm</span>
                                    <span class="line line-100"></span>
                                </div>
                            </div>
                        </div>
                        <div class="block-slide-wrapper">
                            <div class="row">
                                @{
                                    int k = 0;
                                }

                                @foreach (var item in @Model.ProductCategories)
                                {
                                    if (k == 8) break;
                                    <div class="col-md-3 products__content">
                                        <div class="box">
                                            <a href="/san-pham?cat=@item.Id">
                                                <div class="image background-image square lazyloaded" style='background-image: url("@item.Banner");'></div>
                                                <h5 class="name w-100 text-center text-uppercase text-hightline-dv">@item.CategoryName</h5>
                                            </a>
                                        </div>
                                    </div>
                                    k++;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Nhãn hàng -->
<div id="section9" class="intro_home_partners mt-4">
    <div class="container">
        <div class="partners--top">
            <div class="main-title mb-0">
                <h2 style="color:inherit !important">Các nhãn hàng</h2>
                <div class="block">
                    <span class="text">của chúng tôi</span>
                    <span class="line line-100"></span>
                </div>
            </div>
        </div>
        <div id="brand-slide" class="owl-carousel owl-carousel-featured" style="display:block!important;">
            @foreach (var item in Model.Brands)
            {
                <div class="item">
                    <div class="slick-slide">
                        <div class="partners__logo">
                            <img class="lazyloaded" src="@item.Logo.FilePath">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="position-fixed" style="display: block;top:40%;right:10px;z-index:100000;">
    <div class="titlebar">
        <ul class="nav" style="display:inline;">
            <li>
                <a href="#section1" class="active text-black">
                    <i class="mdi mdi-disc"></i>
                </a>
            </li>
            <li>
                <a href="#section2" class="text-black">
                    <i class="mdi mdi-disc"></i>
                </a>
            </li>
            <li>
                <a href="#section3" class="text-black">
                    <i class="mdi mdi-disc"></i>
                </a>
            </li>
            <li>
                <a href="#section4" class="text-black">
                    <i class="mdi mdi-disc"></i>
                </a>
            </li>
            <li>
                <a href="#section5" class="text-black">
                    <i class="mdi mdi-disc"></i>
                </a>
            </li>
            <li>
                <a href="#section6" class="text-black">
                    <i class="mdi mdi-disc"></i>
                </a>
            </li>
            <li>
                <a href="#section7" class="text-black">
                    <i class="mdi mdi-disc"></i>
                </a>
            </li>
            <li>
                <a href="#section8" class="text-black">
                    <i class="mdi mdi-disc"></i>
                </a>
            </li>
            <li>
                <a href="#section9" class="text-black">
                    <i class="mdi mdi-disc"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

@section scripts{
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/popper/popper.min.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/plugins/owl-carousel/owl.carousel.js"></script>
    <script>
        $('#menu-content').on('click', function () {
            if ($('#menucontent').hasClass('show')) {
                $('#menucontent').removeClass('show');
            } else $('#menucontent').addClass('show');
        })
        var $titlebar = $('.titlebar'),
            fixedPosition = function () {
                var pos1 = $titlebar.offset().top,
                    winTop = $(window).scrollTop();
                $(window).scrollTop(winTop + 1);
                var pos2 = $titlebar.offset().top;
                $(window).scrollTop(winTop);
                return (pos1 != pos2)
            }(),
            titlebarHeight = fixedPosition ? $titlebar.outerHeight() : 0,
            $menu = $('.nav a');

        $('.nav a').click(function (e) {
            var $target = $(this.hash);
            e.preventDefault();
            if (!$(this).hasClass('active')) {

                $('html, body').stop(true, false).animate({
                    'scrollTop': $target.offset().top - titlebarHeight
                }, 800);
            }
        });

        $(window).on('scroll', function () {
            didScroll = true
        });

        setInterval(function () {
            if (didScroll) {
                didScroll = false;

                var scrollPos = $(document).scrollTop(),
                    windowHeight = ($(window).height() - titlebarHeight) / 2;

                if (fixedPosition) {
                    $menu.each(function (index) {
                        var $page = $(this.hash);

                        if ($page.position().top <= scrollPos + titlebarHeight + windowHeight) {
                            $('.nav a.active').removeClass('active');
                            $menu.eq(index).addClass('active')
                        }
                    });
                }
            }
        }, 150);
        var mainslider = $("#banner-slide");
        if (mainslider.length > 0) {
            mainslider.owlCarousel({
                items: 1,
                lazyLoad: true,
                pagination: true,
                autoPlay: 4000,
                singleItem: true,
                stopOnHover: true
            });
        }

        var brandlider = $("#brand-slide");
        if (brandlider.length > 0) {
            brandlider.owlCarousel({
                items: 5,
                lazyLoad: true,
                pagination: false,
                autoPlay: 4000,
                stopOnHover: true
            });
        }

    </script>
}

